sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
install:
  - pip install -r requirements.txt -r requirements-dev.txt
script:
 - nosetests
 - python setup.py bdist_wheel --universal
